<!DOCTYPE>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Ping Pong Test</title>
</title>
<body>
    <div class='container'>
        <h1>Ping Pong Test</h1>
        <p>Please enter a number</p>
        <form action='/view_pingpongtest'>
            <label for='input'>Enter an integer:</label>
            <input id='input' name='input' class='form-control' type='number'>
            <button type='submit' class='btn-success'>Enter</button>
        </form>
    </div>
</body>
</html>
