<!DOCTYPE>
<html>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Results</title>
</head>
<body>
    <h1>Results:</h1>
    <ul>
        <li>{{ result }}</li>
    </ul>
</body>
</html>
